@import "bootstrap/bootstrap.scss";

body {
    // background: #fff;
    background: url(../img/bg-legs.jpg) no-repeat top center;
    background-size: cover;
    font-family: helvetica;
}

.site-container {
    background-color: #fff;
    padding: 2rem;
}

.menu {
    padding: 0;
    margin: 2rem 0;
    list-style: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    > li {
        display: inline-block;
        margin: 0;
        > a {
            display: inline-block;
            padding: 1rem;
            box-shadow: none;
        }
    }
}